@model ListSalesComponentViewModel

<div class="col-md-12 mb-3">
    <div class="card">
        <div class="card-header">
            <i class="uil uil-shopping-bag icon-size-1-5"></i> Vendas cadastradas no sistema
        </div>
        <div class="card-body row">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-3">
                        <a class="btn btn-success float-end" asp-controller="Sale" asp-action="Create" title="Realizar uma nova venda">Nova venda <i class="uil uil-plus"></i></a>
                    </div>
                    <div class="col-md-12">
                        @{
                            await Html.RenderPartialAsync("_CheckForAlert");
                        }
                        <div id="loadingSpinner">
                            @{ await Html.RenderPartialAsync("_LoadingSpinner"); }
                        </div>
                        <div id="salesList">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let payOffSaleUrl = '@Url.Action("PayOffSale", "Sale")';
    let getSalesPaginatedUrl = '@Url.Action("GetSalesPaginated", "Sale")';
    let filterByCustumerId = '@Model.FilterByCustomerId';

    window.addEventListener("load", function() {
        if(typeof PayOffSaleUrl != "function")
            console.error('The script "saleList.js" is missing on the parent View.');
        else
            RenderPaginatedSales(1);
    });
</script>