@using KadoshWebsite.Infrastructure
@model PaginatedListViewModel<CustomerViewModel>

<table class="table table-responsive" id="customerSelectTable">
    <caption>Listando @Model.Items.Count() produtos de um total de @Model.TotalItemsCount</caption>
    <thead>
        <tr class="table-primary">
            <th scope="col">ID</th>
            <th>Cliente</th>
            <th>Mesclado com outras fichas</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null || !Model.Items.Any())
        {
            <tr>
                <td colspan="3" class="text-center">Nenhum cliente cadastrado</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>
                        @if (item.BoundedCustomers is not null && item.BoundedCustomers.Any())
                        {
                            <span class="badge rounded-pill bg-warning">Sim</span>
                        }
                        else
                        {
                            <span class="badge rounded-pill bg-success">Não</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model is not null && Model.Items.Any())
{
    await Html.RenderPartialAsync("_PaginationAsync", new ViewDataDictionary(ViewData) { { "PaginationJSMethod", "LoadCustomersPaginated" } });
}