@model int // Model means Customer ID

    <div class="col" id="@("delinquentCustomerLoadingSpinner" + Model)">
        @{
            await Html.RenderPartialAsync("_LoadingSpinner");
        }
    </div>

    <span class="badge rounded-pill bg-danger" id="@("delinquentCustomerBadgeResult" + Model)" style="display: none;">Inadimplente</span>

    <span class="badge rounded-pill bg-success" id="@("notDelinquentCustomerBadgeResult" + Model)" style="display: none;">Adimplente</span>


<script>
    var checkIfCustomerIsDelinquentAUrl = '@Url.Action("CheckIfCustomerIsDelinquent", "Customer")';

    window.addEventListener("load", function() {
        if(typeof GetCustomerDelinquentAndRenderBadge != "function")
            console.error('The script "delinquentCustomerBadge.js.js" is missing on the parent View.');
        else
            GetCustomerDelinquentAndRenderBadge(@Model);
    });
</script>